<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.messi.languagehelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.messi.languagehelper.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".LoadingActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- leancloud 统计 -->
        <meta-data
            android:name="leancloud"
            android:value="LeanCloud" />

        <!-- 喜马拉雅fm -->
        <meta-data
            android:name="app_key"
            android:value="a167180a30ec21d09c1c78ccacdf5d43" />
        <meta-data
            android:name="pack_id"
            android:value="com.messi.languagehelper" />

        <!-- 讯飞广告sdk -->
        <meta-data
            android:name="IFLYTEK_APPKEY_AD"
            android:value="5450bd92" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="messi" />

        <service android:name="com.iflytek.voiceads.update.DownloadService" />

        <activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeForXF"
            />
        <!-- 讯飞广告sdk -->

        <!--腾讯广告-->
        <service android:name="com.qq.e.comm.DownloadService" android:exported="false" />
        <activity android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!--腾讯广告-->

        <service
            android:name=".service.PlayerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.messi.languagehelper.music.start" />
                <action android:name="com.messi.languagehelper.music.pause" />
                <action android:name="com.messi.languagehelper.music.next" />
                <action android:name="com.messi.languagehelper.music.previous" />
            </intent-filter>
        </service>
        <service
            android:name="com.ximalaya.ting.android.opensdk.player.service.XmPlayerService"
            android:process=":player" />

        <receiver
            android:name="com.ximalaya.ting.android.opensdk.player.receive.PlayerReceiver"
            android:exported="true"
            android:process=":player">
            <intent-filter>
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_START_PAUSE" />
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_PLAY_PRE" />
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_PLAY_NEXT" />
                <action android:name="com.ximalaya.ting.android.ACTION_CLOSE" />
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_RELEASE_SERVICE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ximalaya.ting.android.opensdk.player.receive.WireControlReceiver"
            android:exported="true"
            android:process=":player" />
        <receiver
            android:name=".service.XimalayaReceiver"
            android:exported="true"
            android:process=":player">
            <intent-filter>
                <action android:name="com.app.test.android.Action_Close" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ListenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpokenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdEnglishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShoppingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PybsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PyBsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XmlySearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XmlySearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XimalayaRadioProvinceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XimalayaRadioLocalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XimalayaRadioTypeListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XimalayaRadioCategoryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XimalayaRadioDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XmlyAlbumActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XimalayaDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XimalayaTrackListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XimalayaTagsActiviry"
            android:screenOrientation="portrait" />
        <activity
            android:name=".XmlyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AiTuringActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".AiDialogueFightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AiDialogueSelectCourseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AiChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GrammarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadingsBySubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SymbolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OfflineDicDownloadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyNewWordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyFightActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyDanCiPinXieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyDuYinSuJiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyViewAllActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyPlanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GodReplyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudySummaryDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudySummaryListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyCiYiXuanCiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyDanCiXuanYiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyPlanDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".YiZhanDaoDiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BrainTwistsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadingAndNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChPybsSListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InvestListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChineseDictionaryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExaminationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyDuYinXuanCiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadingJuheActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudySecondActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollectedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadingDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReadingVideoDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ReadingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CompositionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".JokeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyDanCiRenZhiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WordStudyThirdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhotosTranslateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SymbolDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InvestmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpokenEnglishDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AiDialoguePracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpokenEndlishCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DialogPracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyDialogCategoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StudyDialogListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRCodeShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AiSpokenBasicActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ViewImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name=".EnglishWebsiteRecommendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DailySentenceAndEssayActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PracticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImgShareActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>